/* Create a Parallax Effect */

.bgimg-1{
    background-image: url('~@/assets/imgs/fullsize/2018/4.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

@media only screen and (max-width: 999px){
  .bgimg-1{
    background-image: url('~@/assets/imgs/fullsize/2018/4.jpg');
    min-height: 1000px;
  }
}

@media only screen and (min-width: 1000px){
  .bgimg-1{
    background-image: url('~@/assets/imgs/fullsize/2019/12.jpg');
    min-height: 1000px;
  }
}

@media only screen and (min-width: 1751px){
  .bgimg-1{
    background-image: url('~@/assets/imgs/fullsize/2021/15.jpg');
    min-height: 1000px;
  }
}

.logo-center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -ms-transform:translate(-50%,-50%);
  padding: 12px 24px;
  font-size: 24px;
  color: rgb(238, 238, 238);
  background-color: rgb(0, 0, 0, .7);
  letter-spacing: 10px;
}

.links-center{
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%,-50%);
  -ms-transform:translate(-50%,-50%);
  padding: 12px 24px;
  font-size: 24px;
  color: rgb(238, 238, 238);
  background-color: rgb(0, 0, 0, .7);
  letter-spacing: 10px;
}

html {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
}

.home-fade-enter-from {
  opacity: 0;
}
.home-fade-enter-active {
  transition: all 1s ease;
}